@font-face {
    font-family: "Monserrat";
    src: url(fonts/Montserrat-ExtraLight.ttf) format("truetyper");
    font-weight: 100;
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Bold.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-ExtraBold.ttf) format("truetype");
    font-weight: 700;
}

@font-face {
    font-family:"Monserrat";
    src: url(fonts/Montserrat-Black.ttf) format("trueetype");
    font-weight: 900;
}
